@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
  --bg-primary: #e8edf4;
  --bg-secondary: #ffffff;
  --text-primary: #000000;
  --text-secondary: #323232;
  --primary-color: #e8edf4;
  --bg-gradient: radial-gradient(#dde2c9, #77c1ca);
  --bg-active: #f3f4f6;
}

:root[data-theme='dark'] {
  --bg-primary: #121212;
  --bg-secondary: #343333;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --primary-color: #333333;
  --bg-gradient: radial-gradient(#10081d, #64485a);
  --bg-active: #9ca3af;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-theme-gradient {
    background-image: var(--bg-gradient);
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .bg-active {
    background-color: var(--bg-active);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.entry-animate {
  animation: slideIn 0.8s ease forwards;
}
